<header id="showcase" class="grid">
  <div class="bg-image"></div>
  <div class="content-wrap">
    <h1>Jerzy Brzozowski</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit consectetur debitis ipsa esse sit quod dolorem. Harum rem aliquam qui.</p>
    <a href="#services" class="btn">Start</a>
  </div>
</header>

<main id="main">
  <section id="services" class="grid">
    <div class="content-wrap">
        <h2 class="content-title">Usługi</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio molestiae nostrum debitis temporibus, tempora repudiandae excepturi corrupti voluptates distinctio repellendus pariatur beatae eveniet non eaque cumque aperiam voluptate! Deserunt, neque.</p>
        <a href="" class="btn">Czytaj Więcej</a>
    </div>
  </section>

  <section id="about" class="grid">
    <div class="content-wrap">
        <h2 class="content-title">O mnie</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio molestiae nostrum debitis temporibus, tempora repudiandae excepturi corrupti voluptates distinctio repellendus pariatur beatae eveniet non eaque cumque aperiam voluptate! Deserunt, neque.</p>
        <a href="" class="btn">Czytaj Więcej</a>
    </div>
  </section>

  <section id="contact" class="grid">
    <div class="content-wrap">
        <h2 class="content-title">Potrzebujesz więcej informacji? Skontaktuj się ze mną</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At assumenda, fugit facere debitis odit similique.</p>
        <a href="" class="btn">Kontakt</a>
    </div>
  </section>

</main>

<footer id="footer-main" class="grid">
  <div>@2018 Jerzy Brzozowski</div>
</footer>